# Core Framework
fastapi
uvicorn[standard]
sqlalchemy
python-multipart

# Database Driver
pymysql # For MySQL

# Auth
passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]

# Pydantic
pydantic[email] # For email validation

# Image Processing
Pillow
pillow-heif
pillow-jxl-plugin
rawpy
python-magic==0.4.27

# Async Task Queue
celery
redis

# AI & RAG
chromadb==0.5.3
httpx

# Geo
reverse_geocoder